body {
  background-color: beige;
}

form {
  margin: auto;
  background-color: azure;
  width: 80%;
}

#Nome {
    width: 40%;
}

#Email {
    width: 50%;
}

#CPF {
    width: 11%;
}

#Endereço {
    width: 50%;
}

#Cidade {
    width: 28%;
}

#Cargo {
    width: 40%;
}

#Descrição {
    width: 50%;
}

div {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

.radio {
    margin-bottom: 0;
    display: inline-block;
    background-color: rgb(180, 255, 255);
    border-radius: 10%;
}